/*body {*/
    /*padding-top: 60px;*/
    /*padding-bottom: 40px;*/
/*}*/

/*.zf-green {*/
    /*color: #68b604;*/
/*}*/

/*.btn-success {*/
    /*background-color: #57a900;*/
    /*background-image: -moz-linear-gradient(top, #70d900, #57a900);*/
    /*background-image: -ms-linear-gradient(top, #70d900, #57a900);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));*/
    /*background-image: -webkit-linear-gradient(top, #70d900, #57a900);*/
    /*background-image: -o-linear-gradient(top, #70d900, #57a900);*/
    /*background-image: linear-gradient(top, #70d900, #57a900);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);*/
/*}*/

/*.btn-success:hover,*/
/*.btn-success:active,*/
/*.btn-success.active,*/
/*.btn-success.disabled,*/
/*.btn-success[disabled] {*/
    /*background-color: #57a900;*/
/*}*/

/*div.container a.navbar-brand > img {*/
    /*display: inline;*/
    /*margin-right: 4px;*/
    /*margin-top: -2px;*/
/*}*/

.style-container {
    margin-top: 15px;
    width: 90%;
}

form ul {
    list-style-type: none;
    padding: 0px;
    /*margin: 0px 5px;*/
}

form ul li {
    color: #b21f2d;
    border: 1px solid;
    border-radius: 5px;
    background-color: #fddfdf;
    margin: 5px 0;
    line-height: 20px;
    padding: 5px;
    font-weight: 500;
}

.form-inline input {
    margin-left: 10px;
}

.sidenav{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 20%; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-right: 20px;
    /*border: #b21f2d 1px solid;*/
}

.main {
    margin-right: 20%; /* Same as the width of the sidebar */
    /*padding: 0px 10px;*/
}